/*variables*/
:root {
  --background: #11151c;
  --background2: #364156;
  --main-color: #c9ada7;
  --link-color1: #9a8c98;
  --link-color2: #8338ec;
  --font-size: 48px;
}

/*main content*/
body {
  background-color: var(--background);
  color: var(--main-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  letter-spacing: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 15px 15px 20px 5px rgba(0, 0, 0, 0.2);
  font-size: larger;
  box-sizing: border-box;
  width: 100%;
  z-index: 1000;
  background-color: var(--background);
}

.navbar a {
  color: var(--main-color);
}

.navbar a:visited {
  color: var(--main-color);
}

.navbar a:hover {
  color: white;
}

.icons a {
  margin-left: 10px;
  margin-right: 10px;
}

.icons a:first-of-type {
  margin-right: 10px;
}

.icons a:last-of-type {
  margin-left: 10px;
}

.side-icons {
  display: none;
}

/*side navigation buttons*/
button {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
  width: 200px;
  text-align: center;
  font-weight: bold;
  margin: 1em;
  padding: 0.7em 2em;
  border: 3px solid var(--background2);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(1, 1, 1, 1.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--background2);
  color: var(--link-color1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  content: "";
  background-color: #9a8c98;
  z-index: -1;
}

button:hover,
button:focus {
  color: var(--background2);
  cursor: pointer;
}

button:hover:before,
button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.sidebar a {
  display: block;
  width: 200px;
  text-decoration: none;
  cursor: pointer;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  padding-top: 90px;
}

.content {
  padding: 60px;
  margin-top: 17px;
  margin-right: 10px;
  background-color: var(--background2);
}

.content-txt {
  flex: 1;
  min-width: 300px;
  padding-right: 10px;
}

h1 {
  font-size: var(--font-size);
  display: flex;
  justify-content: center;
  color: var(--link-color1);
  font-family: inherit;
}

.content p {
  overflow-wrap: break-word;
  white-space: normal;
}

.about-img {
  display: flex;
  width: 500px;
  height: auto;
  border-radius: 50px 0 50px 0;
}

.content-txt h3 {
  display: flex;
  justify-content: center;
}

.skill-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  font-size: 20px;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px;
  gap: 20px;
}

.project-container {
  align-items: center;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-container:hover {
  background-color: rgba(17, 21, 28, 0.2);
  border-radius: 20px;
  transform: translateY(-10px);
}

.project-txt h3 {
  display: flex;
  justify-content: center;
}

.project-img {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: auto;
  border-radius: 50px 0 50px 0;
}

.mobile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  font-family: inherit;
}

.contact-form {
  width: 500px;
  margin: 0 auto;
  padding-left: 100px;
}

input[type="text"],
select,
textarea {
  margin: 0 auto;
  width: 80%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  height: 300px;
  font-family: inherit;
}

.submit {
  border-radius: 30px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

/*mobile menu*/
.hamburger-menu {
  display: none;
}

.hamburger {
  font-size: 20px;
  color: var(--main-color);
  cursor: pointer;
  padding: 10px;
  display: none;
}

.mobile-menu {
  display: none;
  font-family: inherit;
  flex-direction: column;
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  background-color: var(--background);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-menu a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}

.hamburger-menu:checked + .hamburger + .mobile-menu {
  display: flex;
}

/*!!!--MOBILE DISPLAY--!!!*/
@media (max-width: 740px) {
  .hamburger {
    display: block;
  }

  .mobile-menu {
    position: absolute;
    top: 60px;
    left: 10px;
  }

  .mobile-menu a:hover {
    color: #364156;
  }

  body {
    background-color: var(--background2);
  }

  .container,
  .sidebar {
    display: none;
  }

  .content {
    margin: 0;
    padding: 40px 20px;
    display: flex;
    flex: 1;
    min-width: 0;
  }

  .logo {
    justify-content: center;
    margin: 0 auto;
  }

  .navbar {
    margin-bottom: 20px;
  }

  .navbar .hamburger {
    flex: 0 0 auto;
  }

  .navbar .logo {
    flex: 1;
    text-align: center;
    z-index: 1;
  }

  .navbar .icons {
    display: none;
  }

  .side-icons {
    display: flex;
    flex: 0 0 40px;
    margin-top: 60px;
    position: absolute;
    flex-direction: column;
    flex-grow: 0.5;
    justify-content: flex-start;
    align-items: center;
    color: var(--main-color);
    gap: 10px;
    max-width: 40px;
    font-size: 15px;
  }

  .side-icons a {
    color: var(--main-color);
  }

  .side-icons a:visited {
    color: var(--main-color);
  }

  .mobile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .content-txt {
    position: relative;
    overflow-wrap: break-word;
    min-width: none;
    translate: 40px;
  }

  .about-img {
    display: flex;
    align-self: center;
    margin-top: auto;
    max-width: 60%;
  }

  .container {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr;
    gap: 20px;
    height: 100%;
    width: 100%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-width: 300px;
  }

  .project-img {
    display: flex;
    align-items: center;
    margin-top: auto;
    max-width: 60%;
  }
}

/*!!--PC DISPLAY--!!*/
@media (min-width: 741px) {
  .hamburger {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .hamburger-menu:checked + .hamburger + .mobile-menu {
    display: none;
  }
}
